@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
}

main {
  width: 500px;
  height: 260px;
  padding: 12px;
  margin-top: 16px;
  background-image: linear-gradient(180deg, rgba(18, 187, 255, .85), rgba(200, 240, 243, .25));
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.4);
}

h1 {
  font-weight: 300;
}

.container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp {
  margin-right: 16px;
  padding: 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.3)
}

h2 {
  font-weight: 200;
  font-size: 60px;
  display: flex;
  align-items: top;
}

h2 span {
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}

.content img{
  width: 60px;
  height: 60px;
}

.content p {
  font-size: 14px;
}
